{% extends "layout.html.twig" %}
{% block title %}

    {{ parent() }} - Accueil

{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href ="index.php">Home</a></li>
            <li><a href = "products.php">Liste Produit</a></li>
        </ul>
    </nav>
</header>    
{% endblock %}