{% extends "layout.html.twig" %}
{% block title %}

    {{ parent() }} - Articles

{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href ="index.php">Home</a></li>
            <li><a href = "products.php">Liste Produit</a></li>
        </ul>
    </nav>
    <h1>La liste des articles
    <ul>
        {% for product in products %}
        <li> {{ product | join(' ')}}</li>
        {% endfor %}
    </ul>

</header>    
{% endblock %}
